@font-face
    font-family: phyrexian
    src: url('/magic/phyrexian.woff2')

@font-face
    font-family: beleren
    src: url('/magic/beleren.ttf')

@font-face
    font-family: magic-symbol
    src: url('/magic/magic-symbol.woff?1')

[lang=ph]
    font-family: phyrexian
    word-break: break-word

[lang=ar], [lang=he]
    &.auto-align
        direction: rtl
        text-align: right

body.force-lowercase *
    text-transform: lowercase !important

.banlist-status-banned,
.banlist-status-banned_in_bo1,
.banlist-status-suspended,
.banlist-status-banned_as_commander,
.banlist-status-banned_as_companion,
.banlist-status-score-8,
.banlist-status-score-7,
.banlist-status-score-6,
.banlist-status-score-5,
.color-negative
    color: #F33

.banlist-status-restricted,
.banlist-status-score-4,
.banlist-status-score-3
    color: #EA0

.banlist-status-legal,
.banlist-status-score-2,
.banlist-status-score-1,
.color-positive
    color: #0A0

.banlist-status-unavailable
    color: #777
