@font-face
    font-family: phyrexian
    src: url('/magic/phyrexian.woff2')

@font-face
    font-family: alcarin-tengwar
    src: url('/magic/alcarin-tengwar.woff2')

@font-face
    font-family: beleren
    src: url('/magic/beleren.ttf')

@font-face
    font-family: magic-symbol
    src: url('/magic/Chromana-magic-1.1.0.woff2') format('woff2'), url('/magic/Chromana-magic-1.1.0.woff') format('woff'), url('/magic/Chromana-magic-1.1.0.ttf') format('truetype')

[lang=ph]
    font-family: phyrexian
    word-break: break-word

[lang=qya]
    font-family: alcarin-tengwar
    word-break: break-word

[lang=ar], [lang=he]
    &.auto-align
        direction: rtl
        text-align: right

body.force-lowercase *
    text-transform: lowercase !important

