.item
    margin: 8px
    padding: 20px

    border-top: 1px grey solid

.desc
    @media (max-width: 599px)
        flex: 0 0 100%

    @media (min-width: 600px)
        flex: 1 0 0

.examples
    padding-left: 5px

    display: flex
    flex-wrap: wrap
    align-items: flex-start
    align-self: flex-start

    @media (max-width: 599px)
        flex: 0 0 100%

    @media (min-width: 600px)
        flex: 1 0 0

.title
    font-size: 200%

    margin-bottom: 8px

code
    color: #555

table
    width: 100%

.example
    margin: 2px
    padding: 10px

    border: 1px grey solid
    border-radius: 10px

    @media (max-width: 599px)
        flex: 0 0 100%

    @media (min-width: 600px)
        flex: 0 0 48%