DATABASE_URL=postgres://user:password@localhost:5432/tcg_cards_local_dev
BUCKET_DIR=../asset

# Source database with data ready to sync (remote dev)
SOURCE=postgresql://user:password@localhost:5432/postgres
# Production database
TARGET=postgresql://user:password@host:port/dbname
